APP_HOST=https://cc.e2infosystems.in/
APP_PORT=4006
TOKEN_VALID_TIME=1

# mail config
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SERVICE=gmail
MAIL_FROM_ADDRESS=convinicar@gmail.com
MAIL_FROM_PASSWORD=erutchfqtmnjweze